---
import Layout from '../layouts/Layout.astro';
import { getEntry, render } from 'astro:content';

const homePage = await getEntry('pages', 'home');
if (!homePage) {
  throw new Error('Home page not found');
}

const { Content } = await render(homePage);
---

<Layout title={homePage.data.title}>
  <article>
    <h1>{homePage.data.title}</h1>
    <Content />
  </article>
</Layout>