---
import { type Language } from '../utils/i18n';

const currentLang = (Astro.currentLocale || 'en') as Language;
---

<footer class="footer">
  <div class="container footerInner">
    <div class="muted">© {new Date().getFullYear()} Owners’ and Residents’ Association of Lac Bernard.</div>
    <div class="footerLinks">
      
    </div>
  </div>
</footer>
